<ul class="fldb-panel-dump-list">
    {% for var in vars %}
    <li class="fldb-panel-dump-item">
        <div><span>{{ var.file }} {{ var.line }}</span></div>
        <div>
<pre>
{{ dump(var.val) }}
</pre>
        </div>
    </li>
    {% endfor %}
</ul>