<section>
    <ul class="fldb-blk-list fldb-blk-list_dump">
    {% for var in vars %}
        <li>
            <div><span>{{ var.file }} line {{ var.line }}</span></div>
            <div><pre>{{ dump(var.val) }}</pre></div>
        </li>
    {% endfor %}
    </ul>
</section>