<ul class="fratily-debugbar-panel-message-ul">
{% for message in messages %}
    <li class="fratily-debugbar-panel-message-li">
        <span class="fratily-debugbar-icon-{{message.icon}}"></span>
        <span>{{ message.level }}: {{ message.message|nl2br }}</span></li>
{% endfor %}
</ul>
