<section>
    <ul class="fldb-blk-list fldb-blk-list_message">
    {% for message in messages %}
        <li>
            <span class="fldb-icon-{{ message.icon }}"></span>
            <span>{{ message.level }}: {{ message.message|nl2br }}</span>
        </li>
    {% endfor %}
    </ul>
</section>