<ul class="fldb-panel-message-list">
    {% for message in messages %}
    <li class="fldb-panel-message-item">
        <span class="fldb-icon-{{message.icon}}"></span>
        <span>{{ message.level }}: {{ message.message|nl2br }}</span>
    </li>
    {% endfor %}
</ul>