<dl class="fratily-debugbar-panel-timeline-dl">
{% for time in times %}
    <dt class="fratily-debugbar-panel-timeline-dt">
        <span>{{ time.name }}({{ time.runtime }}ms)</span>
    </dt>
    <dd class="fratily-debugbar-panel-timeline-dd">
        <div class="fratily-debugbar-panel-timeline-dd-item" style="margin-left:{{ time.start_p }}%;width:{{ time.runtime_p }}%;"></div>
    </dd>
{% endfor %}
</dl>